<html>
    <body>
        <h1>What's your fortune?</h1>
        <% if(firstTime==0){ %>
        <h1><%=randFortune %></h1>
        <% } %>
        <form method="get" action="/getfortune">
            <button type="submit">Click for Fortune</button>
        </form>

    </body>
</html>